:root {
    --qr-size: 300px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0 100vh;
    padding: 1rem;
}

html {
    height: 100%;
}

header {
    flex: 0 1;
}
footer {
    margin-top:auto;
}
main {
    flex: 0 auto;
    gap: 1rem;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
}

.form {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

label {flex: 0 1;}

textarea {
    resize: none;
}

.padding {
    flex: 1 1 10px;
}

#text {
    flex: 1 0;
    min-width: min(25ch, 100%);
    max-height: 20em;
    min-height: max-content;
    padding: 0.5ch;
}

#qrcode {
    align-self: center;
    flex: 1;
    justify-self: center;
    max-width: var(--qr-size);
    display: block;
}

#qrcode > * {
    max-width: 100%;
}

/* kindly stolen from https://css-tricks.com/auto-growing-inputs-textareas */
.textarea {
    display: block;
    overflow: auto;
    resize: none;
    min-height: 40px;
    line-height: 20px;
    white-space: pre;
    border: grey 1px solid;
}
